<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="scripts/angular.js"></script>
    <script>
        var app=angular.module('DemoApp',[]);
        app.controller('HomeController',function ($scope) {
             $scope.txtQty=0;
             $scope.products=[
                 {
                     Name:"Samsung TV",
                     Price:53000.42,
                     Photo:"Images/tv.jpg"
                 },
                 {
                     Name:"Nike Shoe",
                     Price:4200.42,
                     Photo:"Images/shoe.jpg"
                 }
             ];
             $scope.lstProducts="";

             $scope.name="";
             $scope.photo="";
             $scope.price="";
             $scope.amount="";

             function Details(index) {
                 $scope.name=$scope.products[index].Name;
                 $scope.photo=$scope.products[index].Photo;
                 $scope.price=$scope.products[index].Price;
             }

             $scope.GetProduct=function () {
                 switch($scope.lstProducts)
                 {
                     case "tv":
                     Details(0);
                     break;
                     case "shoe":
                         Details(1);
                         break;
                 }
             }

        })
    </script>
</head>
<body ng-app="DemoApp" ng-controller="HomeController">
    <div align="center">
        <h2>Select Product</h2>
        <select ng-model="lstProducts" ng-change="GetProduct()">
            <option value="tv">TV</option>
            <option value="shoe">Shoe</option>
        </select>
        <br>
        <div>
            <h3>{{name}}</h3>
            <img ng-src="{{photo}}" width="200" height="100" border="1">
            <br>
            {{price |currency:'&#8377;'}}
            <br>
            <div>
                Select Quantity : <input ng-model="txtQty" min="1" max="3" type="number">
            </div>
            <br>
            <h2 align="center">Total Amount : {{txtQty * price}} </h2>
        </div>
    </div>
</body>
</html>