<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <script src="scripts/angular.js"></script>

</head>
<body ng-app>
   <div class="container">
       <form name="frmRegister" novalidate>
           <h2>Register User</h2>
           <div class="form-group" ng-class="{'has-error':frmRegister.txtName.$invalid}">
               <label for="txtName" class="control-label col-sm-3">User Name</label>
               <div class="col-sm-3">
                   <input class="form-control" type="text" name="txtName" ng-model="txtName" required ng-minlength="4" ng-maxlength="10">
                   <span class="text-danger" ng-if="frmRegister.txtName.$error.required">Name Required</span>
                   <span class="text-danger" ng-if="frmRegister.txtName.$error.minlength">Name too short..</span>
                   <span class="text-danger" ng-if="frmRegister.txtName.$error.maxlength">Name too long..</span>
               </div>
           </div>
           <div class="form-group" ng-class="{'has-error':frmRegister.txtEmail.$invalid}">
               <label for="txtEmail" class="col-sm-3 control-label">Email</label>
               <div class="col-sm-3" >
                   <input class="form-control" type="email" name="txtEmail" ng-model="txtEmail" required>
                   <span class="text-danger" ng-if="frmRegister.txtEmail.$error.required">Email Required</span>
                   <span class="text-danger" ng-if="frmRegister.txtEmail.$error.email">Invalid Email</span>
               </div>
           </div>
           <div class="form-group col-sm-3">
               <button  class="btn btn-primary btn-block">Register</button>
           </div>
       </form>
   </div>
</body>
</html>